<head>
    <title>Aula de Node.JS com EJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>