<!DOCTYPE html>

    <%- include('../partials/head'); %>

    <body class="container">
        
        <%- include('../partials/header'); %>

        <main>
            <div class="bg-light p-3">
                <h1>Sobre mim</h1>
                <p>Olá me chamo Lucas Coelho! Eu sou programdor Full Stack (em desenvolvimento), tenho diversos cursos na area. Atualmente estou estudando Full Stack na Digital College Fortaleza, e junto a isso estou a procura do meu primeiro emgrego</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>
</html>